---
import { getAllPosts } from '@/lib/post-utils';
import path from 'path';

export async function getStaticPaths() {
  const postsDir = path.join(process.cwd(), 'src/contents/posts');
  const posts = getAllPosts(postsDir);
  return posts.map((post) => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content={`0; url=/blogs/${slug}`} />
    <title>Redirecting…</title>
    <script>
      {`window.location.replace('/blogs/${slug}')`}
    </script>
  </head>
  <body class="p-8 text-center text-gray-600">
    <p>
      This page has moved to
      <a class="text-blue-600 underline" href={`/blogs/${slug}`}>/blogs/{slug}</a>.
    </p>
  </body>
</html>
