:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #005eff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.hs-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
